---
layout: page
title: nuance - a retrospective introspection
permalink: /blog/nuance/
description: personal musings regarding just about anything
---

<div class="home">

  <h1>{{ page.description }}</h1>

  <hr /><br />

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'personal' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          <span class="post-meta">{{ post.description }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
