<p>
  I study math and computer science at the University of Toronto.
</p>

<p>
  I write code for <a href="http://www.stockrender.com" target="_blank">StockRender</a>.
</p>

<p>
  I work as an <a href="http://www.varsityblues.ca/index.aspx?path=mvball"
  target="_blank">Assistant Coach</a> for the Men's Volleyball Program at the
  University of Toronto.
</p>

<p>
  I develop software solutions for the <a href="http://www.varsityblues.ca"
  target="_blank">Varsity Blues Strength & Conditioning Program</a>.
</p>

<p>
  I manage this website and <a href="http://www.thereadingline.ca"
  target="_blank">The Reading Line</a>.
</p>
