<p>
  I study math and computer science at the University of Toronto.
</p>

<p>
  I write code as a developer for <a href="stackrender.com">StackRender</a>.
</p>

<p>
  I work as an <a href="varsityblues.ca/index.aspx?path=mvball">Assistant Coach</a> for the Men's Volleyball Program at the University of Toronto.
</p>

<p>
  I develop software solutions for the <a href="varsityblues.ca">Varsity Blues Strength & Conditioning Program</a>.
</p>

<p>
  I convene multiple concurrent volleyball tournaments as the <a href="uoftintramurals.ca">Head Referee for UofT's Intramural Volleyball Program</a>.
</p>

<p>
  I manage this website and <a href="thereadingline.ca">The Reading Line</a>.
</p>

<p>
  I officiate volleyball as a Local Official for the <a href="ontariovolleyball.org">OVA</a>.
</p>
