<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github %}<li><a href="https://github.com/{{ site.github }}"><span>open source</span></a></li>{% endif %}
          {% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}"><span>140 characters</span></a>{% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.instagram %}<li><a href="https://instagram.com/{{ site.instagram }}"><span>square photos</span></a></li>{% endif %}
          {% if site.linkedin %}<li><a href="https://linkedin.com/in/{{ site.github }}"><span>professional contacts</span></a></li>{% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
