<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{ page.title }}</title>

<link rel="stylesheet" type="text/css" href="/global.css" />
<link rel="stylesheet" type="text/css" href="/screen.css" />

<meta name="description" content="{{ page.description }}" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<meta name="referrer" content="no-referrer-when-downgrade" />

<meta property="og:site_name" content="Robertson McClure" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ page.img }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
<meta name="twitter:image" content="{{ page.img }}" />
