<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.title }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html  }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">

  <!-- Favicon links go here -->

  <link href='http://fonts.googleapis.com/css?family=Raleway:100|Work+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style/main.css" />
  <script src="https://use.fontawesome.com/666517a68a.js"></script>
</head>
