<ul class="nav" role="menu">
    <li class="nav-about-me nav-current" role="menuitem">
        <a href="{{ site.url }}/about-me/">About Me</a>
    </li>
    <!-- <li class="nav-math" role="menuitem">
        <a href="{{ site.url }}/tag/math/">Math</a>
    </li>
    <li class="nav-computer-science" role="menuitem">
        <a href="{{ site.url }}/tag/computer-science/">Computer Science</a>
    </li>
    <li class="nav-february-challenge" role="menuitem">
        <a href="{{ site.url }}/tag/february-challenge/">February Challenge</a>
    </li> -->
</ul>
