<div class="gray-bar">
  <nav class="large">
    <a href="{{ '/' | absolute_url }}" class="{% if page.layout == 'home' %}active{% endif %}">
      <span>About</span>
    </a>
    <a href="{{ '/projects' | absolute_url }}" class="{% if page.layout == 'projects' %}active{% endif %}">
      <span>Projects</span>
    </a>
    <a href="{{ '/blog' | absolute_url }}" class="{% if page.layout == 'blog' %}active{% endif %}">
      <span>Writing</span>
    </a>
    <a href="{{ '/library' | absolute_url }}" class="{% if page.layout == 'library' %}active{% endif %}">
      <span>Reading</span>
    </a>
  </nav>
  <button on="tap:sidebar.toggle" class="ampstart-btn caps m2 small menu">&#9776;</button>
</div>
<amp-sidebar id="sidebar"
  layout="nodisplay"
  side="left">
  <ul>
    <li><a href="{{ '/' | absolute_url }}">About</a></li>
    <li><a href="{{ '/projects' | absolute_url }}">Projects</a></li>
    <li><a href="{{ '/blog' | absolute_url }}">Writing</a></li>
    <li><a href="{{ '/library' | absolute_url }}">Reading</a></li>
  </ul>
</amp-sidebar>
