@import 'syntax-highlighting';

$grey-color: #828282;
$logo: #2A93D5;
$counter-logo: #D52A93;
$font-sans: "Helvetica Neue", 'Open Sans', Arial, Helvetica, sans-serif;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: $font-sans;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  text-align: center;
}

nav {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  a {
    letter-spacing: 2px;
    width: 25%;
    flex: 1;
    font-size: 25px;
    font-weight: 300;
  }
}

main {
  display: block;
}

footer {
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  text-align: center;
  a {
    width: 25%;
    display: inline-block;
    > svg {
      width: 50px;
      height: 50px;
      vertical-align: middle;
      path {
        fill: $grey-color;
      }
    }
    &:hover {
      path {
        fill: $logo;
      }
    }
  }
}

a {
  text-decoration: none;
  color: black;
}

.content {
  flex: 1;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gray-bar {
  background-color: lighten($logo, 40);
}

.blog-title {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 5px;
  word-break: break-word;
  color: #333333;
}

article {
  text-align: center;
  margin: 10px;
  background-color: white;
  time {
    letter-spacing: 2px;
  }
}

.blog-post {
  header {
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 0.2px solid #666;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 5px;
    margin: 0;
    letter-spacing: 3px;
  }
  a {
    display: block;
    padding: 15px;
    border: 1px solid white;
    &:hover {
      border: 1px solid $logo;
    }
  }
  p {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.project {
  display: flex;
  @media screen and (max-width: 740px) {
    flex-direction: column;
  }
  flex-direction: row;
  padding: 15px;
  border-bottom: 1px solid $grey-color;
  header {
    margin: 15px 0;
    padding-bottom: 15px;
    a {
      padding: 0 10px;
    }
  }
  h2 {
    font-size: 2.5em;
    @media screen and (max-width: 740px) {
      font-size: 1.5em;
    }
    margin-bottom: 5px;
    margin: 0;
    letter-spacing: 3px;
  }
  .project-body {
    a {
      color: #333333;
      border-bottom: 4px solid lighten($logo, 30);
      &:hover {
        background-color: lighten($logo, 30);
      }
    }
  }
  > a {
    padding: 5px;
    border: 1px solid white;
    &:hover {
      border: 1px solid $logo;
    }
  }
  p {
    line-height: 32px;
    font-size: 20px;
    letter-spacing: 2px;
  }
  div {
    margin-left: 40px;
    @media screen and (max-width: 740px) {
      margin-left: 0;
    }
    flex: 1 1 0%;
  }
}

.post {
  h1 {
    font-size: 35px;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 5px;
    letter-spacing: 3px;
  }
  h3 {
    font-size: 25px;
    margin: 10px 0;
  }
  blockquote {
    background-color: lighten($logo, 40);
    border: 1px solid lighten($logo, 30);
    padding: 20px;
    margin: 5px;
    p {
      padding: 0;
      margin: 0;
    }
  }
  .post-content {
    text-align: left;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 1.59;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 0;
    color: #111;
    a {
      color: #333333;
      border-bottom: 4px solid lighten($logo, 30);
      &:hover {
        background-color: lighten($logo, 30);
      }
    }
    ol, ul {
      list-style-type: circle;
    }
  }
}


pre,
code {
  letter-spacing: 0;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eeeeff;
}

code, pre, samp {
  white-space: pre-wrap;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

#about {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 2px;
  a {
    color: #333333;
    border-bottom: 4px solid lighten($logo, 30);
    &:hover {
      background-color: lighten($logo, 30);
    }
  }
}

.active {
  span {
    padding: 5px 10px;
    border-bottom: 3px solid $logo;
  }
}

.book {
  padding: 1px;
  width: 30%;
  margin: 1%;
  display: inline-block;
}

.book-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 500px) {
  .large{display:none;}
  .small{display:content;}
}

@media all and (min-width: 500px) {
  .large{display:content;}
  .small{display:none;}
}

@media all and (max-width: 600px) {
  pre,code{font-size:10px;}
}

@media all and (min-width: 600px) {
  pre,code{font-size:15px;}
}

.menu {
  color: #333;
  float:right;
  font-size:46px;
  margin-right:16px;
}
