---
layout: default
title: Blog
---
{% for post in site.posts %}
<article class="blog-post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
  <a href="{{ post.url | absolute_url }}" itemprop="url">
    <header>
      <h2 itemprop="name">{{ post.title }}</h2>
      <time datetime="{{ post.date | date: '%B %-d, %Y' }}">{{ post.date | date: "%B %-d, %Y" }}</time>
    </header>
    <section itemprop="description">
      <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
    </section>
  </a>
</article>
{% endfor %}
