<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <title>{{ page.title }}</title>
    </head>

    <body>
        <div id="page1">
            <div id="nav">
                <ul>
                    <li id="home"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            
            {{ content }}

        </div>

        <div id="footer">
            <h4>2016 Robertson Lovell McClure</h4>
        </div>
    </body>
