---
layout: default
title: Library
---

<h2 style='font-size:3em;'>Currently Reading</h2>

<div class="book-list" style="border-bottom: 1px solid #333;padding-bottom:30px;">
  {% for book in site.data.books %}
  {% unless book.complete %}
  <div class="book">
    <amp-img src="{{ book.image }}" layout='responsive' width="{{ book.width }}" height="{{ book.height }}"></amp-img>
  </div>
  {% endunless %}
  {% endfor %}
</div>

<h2 style='font-size:3em;'>Rereading List</h2>

<div class="book-list">
  {% for book in site.data.books %}
  {% if book.complete %}
  <div class="book">
    <amp-img src="{{ book.image }}" layout='responsive' width="{{ book.width }}" height="{{ book.height }}"></amp-img>
  </div>
  {% endif %}
  {% endfor %}
</div>
