<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "publisher": {
            "@type": "Organization",
            "name": "Robertson McClure",
            "logo": "https://robertsonmcclure.ca/images/name.png"
        },
        "url": "https://robertsonmcclure.ca/",
        "image": {
            "@type": "ImageObject",
            "url": "https://robertsonmcclure.ca/images/background.png",
            "width": 2048,
            "height": 1152
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://robertsonmcclure.ca/"
        },
        "description": "Turning thoughts into pixels"
    }
</script>